<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="usersEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Proj13.Database.Windows.Net;initial catalog=users;persist security info=True;user id=yoni2109;password=Aa123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnectToStudentClassesCoursses" connectionString="metadata=res://*/ConnectToStudent.csdl|res://*/ConnectToStudent.ssdl|res://*/ConnectToStudent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Proj13.Database.Windows.Net;initial catalog=users;persist security info=True;user id=yoni2109;password=Aa123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="connractToAll" connectionString="metadata=res://*/connectToAllTabel.csdl|res://*/connectToAllTabel.ssdl|res://*/connectToAllTabel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Proj13.Database.Windows.Net;initial catalog=users;persist security info=True;user id=yoni2109;password=Aa123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="project___13.Properties.Settings.usersConnectionString"
    connectionString="Data Source=proj13.database.windows.net;Initial Catalog=users;Persist Security Info=True;User ID=Yoni2109;Password=Aa123456"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


</configuration>